body h1 {
      font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
      .page_container img {
            width: 100%;

            .logoFooter {
                  height: 30px;
            }
      }
}
