body h1 {
      font-family: "Montserrat", sans-serif;
}
.accordion-header {
      background-color: #e76363;
      color: white;
      padding: 15px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      border-radius: 5px;
}
