.accordion {
      border: 1px solid #ccc;
      width: 80%;
      margin: 20px auto;
      border-radius: 5px;
      overflow: hidden;

      .accordion-header {
            background-color: #e76363;
            color: white;
            padding: 15px;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            border-radius: 5px;
      }

      .accordion-content {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s ease, opacity 0.3s ease,
                  padding 0.3s ease;
            opacity: 0;
            padding: 0 10px;

            &.open {
                  opacity: 1;
                  padding: 10px;
            }
      }
      .arrow {
            display: inline-block;
            transition: transform 0.3s ease;
            transform: rotate(0deg);
            color: white;
            &.open {
                  transform: rotate(180deg);
            }
      }
}
@media (max-width: 768px) {
      .page_container img {
            width: 100%;

            .logoFooter {
                  height: 30px;
            }
      }
      .accordion-header {
            .arrow {
                  font-size: 1.2rem;
                  color: white;
            }
      }
}
